<section class="container mx-auto mt-4 bg-gray-200">
  <a class="cursor-pointed text-center" href="https://linktr.ee/impulse_sieve">
    <h1 class="text-6xl text-blue-600 underline">Impulse Sieve Music</h1>
  </a>
</section>

{{outlet}}